# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
static/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py

# Docker
*.pid

# Coverage
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Test output
test-results/
